
/*IDs*/
#header{
	color: #FFF;

	background-image: url("../img/arun.jpg");
	background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#header a{
	color: #FFF;
}

#header a:hover{
	text-decoration: none;
	color: #000;
}

#nav{
}

#header-text{
	border-radius: 50%;
	margin-top: 25%;
    margin-bottom: 10%;
    padding: 10% 10% 10% 10%;
	background: white;
	width: 200px;
	height: 200px;
}

#name-container{
	display: inline-block;
}

#name{
	font-size: 50px;
	font-weight: 700;

	background-image: url("../img/arun.jpg");
	background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#occupation{
	font-size: 20px;
	font-weight: 400;

	background-image: url("../img/arun.jpg");
	background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#footer{
	color: #52CFFF;
}

#footer a{
	color: #52CFFF;
}

#footer a:hover{
	text-decoration: none;
	color: #FFF;
}

#projects{
	background: #AA7439;
	color: #553B1E;
}

#tree{
	background: #FFF;
	color: #142C35;
}

#tree-modal{
	color: #27586B;
}

#cup{
	background: rgba(41, 123, 72, .7);
	color: #4AFF8D;
}

#scream{
	color: #142C35;
}

#footer{
	background: #3783A0;
}


/*CLASSES*/
.icon-container-left{
	padding: 4% 0% 4% 4%;
}

.icon-container-right{
	padding: 4% 4% 4% 0%;
}

.title{
	margin-top: 30%;
}

img{
	vertical-align: middle;
}

.modal{
	max-width: 90%;
}

.modal iframe{
	width: 100%;
	height: 400px;
}

.tree-icon{
	background-image: url("../img/portfolio/tree_icon.jpg");	
}

.cup-icon{
	background-image: url("../img/portfolio/cup.jpg");
}

.scream-icon{
	background-image: url("../img/portfolio/bagpipe.jpg");
}

.icon-left{

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: 700px 700px;

    border-radius: 50%;

    padding-bottom: 100%;
}

.icon-right{

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 120%;
    background-repeat: no-repeat;
    background-size: 700px 700px;

    border-radius: 50%;

    padding-bottom: 100%;
}

.btn, h1, p, td{
	font-weight: 100;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 700px){

	.icon-right{
		background-position: 0%;
	}
}

@media only screen and (max-width: 500px){

	.title{
		margin-top: 20%;
	}

	#tree .title{
		margin-top: 30%;
	}

	.subtitle{
		display: none;
	}

	#header{
		background-position: initial;

	}
} 